<template name="tag">
    <div class="ui stackable two column grid">
        <div class="left aligned ten wide column">
            <h2> 
                <div class="ui labeled icon button back">                
                    <i class="left arrow icon"></i>
                    Back   
                </div>  
                        Edit Tag: {{tag}}             
             </h2>
            {{> quickForm template="custom" collection="Tags" doc=this id="TagForm" type="method-update" meteormethod="updateTag"}}
        </div>
        <div class="six wide column">
        </div>
    </div>
</template>
<template name="tagNew">
    <div class="ui stackable two column grid">
        <div class="left aligned ten wide column">
            <h2> 
                <div class="ui labeled icon button back">                
                    <i class="left arrow icon"></i>
                    Back   
                </div>  
                        Create New Tag           
             </h2>
            {{> quickForm template="custom" collection="Tags" id="TagForm" type="method" meteormethod="insertTag" omitFields="markDelete"}}
        </div>
        <div class="six wide column">
        </div>
    </div>
</template>
