<template name="tagList">
    <div class="ui stackable two column grid">
        <div class="left aligned five wide column">
            {{> list_desktop}}
        </div>
        <div class="ten wide column">
<!--         	Allow editing and creation of tags if on desktop -->
        	{{#if isDesktop}}
	            <h2> 
		    	 <div class="ui labeled icon button back">
	  				<i class="left arrow icon"></i>
	  				Back
				</div>
					{{#if creatingNewTag }}
						New Tag Form
					{{else}}
						Edit Tag: {{#with selectedTag}}{{tag}}{{/with}}
					{{/if}}
	             		
	             </h2> 

	            {{#if creatingNewTag }}	           
	            	{{> quickForm collection="Tags" id="TagForm" type="insert"}}
	            {{else}} 	           
	            	{{> quickForm collection="Tags" doc=selectedTag id="TagForm" type="update"}}
	            {{/if}}
            {{/if}}
        </div>
    </div>
    <!--  {{#each items}}
      <li><a href="{{pathFor "item"}}">{{title}}</a></li>
    {{/each}} -->
</template>
<template name="list_desktop">
    <h2>Tag Configuration.</h2>
    <table class="ui unstackable celled defenition table">
        <thead>
            <tr>
                <th>Delete?</th>
                <th>Tag</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each tags}}
            <tr>
                <td class="collapsing">
                    <div class="ui fitted slider checkbox">
                        <input type="checkbox" name="{{tag}}">
                        <label></label>
                    </div>
                </td>
                <td class="selectable {{#if isSelected _id}}positive{{/if}}">
	                {{#if isPhone}}
	                	<a href="{{pathFor "tag"}}">{{tag}}</a>
	            	{{else}}
	            		{{tag}}
	                {{/if}}               	
                </td>
                <td class="selectable {{#if isSelected _id}}positive{{/if}}">{{description}}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot class="full-width">
            <tr>
                <th class="left aligned">
                    <div class="ui red icon button">
                        <i class="remove circle icon"></i>
                    </div>
                </th>
                <th colspan="3">
                    <div class="ui right floated small labeled primary toAdd button">Add Tag
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</template>
